#footer {
    padding-top: 85px;
    padding-bottom: 200px;
    position: relative;
    z-index: 18;
    background-color: var(--primary-color);
}

.footer__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo a {
    color: var(--gainsboro);
    font-family: var(--mainfont-abel);
    font-size: 18px;
}

.footer__nav li {
    display: inline-block;
    margin-right: 45px;
}

.footer__nav>ul>li>a {
    color: var(--gainsboro);
    font-family: var(--mainfont-abel);
    font-size: 18px;
    opacity: 0.5;
    transition: opacity 0.3s;
}

.footer__nav>ul>li>a:hover {
    opacity: 1;
}

.footer__made {
    color: var(--gainsboro);
    font-family: var(--mainfont-abel);
}

@media(max-width:980px) {
    .footer__wrap {
        flex-direction: column;
    }

    .footer__logo {
        margin-bottom: 40px;
    }

    .footer__nav {
        margin-bottom: 40px;
    }

    .footer__nav li {
        margin-right: 0;
    }

    .footer__nav li:nth-child(2) {
        margin: 0 45px;
    }
}

@media(max-width:480px) {
    .footer__nav li:nth-child(2) {
        margin: 0 25px;
    }

    .footer__nav {
        display: flex;
    }
}