/* picture */
#picture {
    width: 100%;
    height: 90vh;
    position: relative;
    z-index: 6;
    text-align: center;
    overflow: hidden;
}

canvas {
    position: absolute;
    left: -1%;
    top: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 90vh;
    overflow-x: hidden;
    opacity: 0.5;
    z-index: 4;
}

#picture>img {
    opacity: 0.9;
}



.picture__line__ver {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.7;
}

.picture__line__ver .container {
    height: 90vh
}

.picture__line__horiz .container {
    height: 90vh
}

.picture__ver__wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.picture__line__horiz {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.7;
}

.picture__horiz__wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.horizon__line {
    width: 100%;
    height: 1px;
    background-color: var(--dark-grey);
    padding-right: 0;
}

.noise__overlay {
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    position: absolute;
    z-index: 5;
    opacity: 0.02;
    background-image: url(../../img/noise.gif);
    background-size: auto;
    background-position: 0 0;
}

.pic__contents {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pic__text {
    font-family: var(--font-antonio);
    color: var(--white);
    font-size: 11.5vw;
    font-weight: 600;
    line-height: 0.9;
    letter-spacing: 0.05vw;
}

.pic__text .text1 {
    text-align: left;
    margin-left: 7.5vw;
    margin-bottom: 2vw;
    position: relative;
}

.pic__text .text2 {
    margin-left: 20vw;
    margin-bottom: 2vw;
}

.pic__text .text3 {}

.text__gif {
    position: absolute;
    left: 52%;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(../../img/noise.gif);
    background-size: cover;
    background-position: center center;
    border-radius: 50px;
    width: 240px;
    height: 120px;
}

.mini__text {
    display: flex;
    justify-content: space-between;
    font-family: var(--font-antonio);
    font-weight: 100;
    color: var(--white);
    font-size: 14px;
    line-height: 0.95;
    margin-bottom: 0.7vw;
}

/* .mini__text div {
    width: 20%;
} */


@media(max-width:780px) {
    #picture {
        height: 80vh;
    }


    .scroll__box {
        width: 140px;
        bottom: 90%;
        transform: translate(-50%, 90%);
    }

    .scroll__box>.text__box {
        font-size: 10px;
    }

    .scroll__box>p {
        font-size: 8px;
    }
}


@media(max-width:480px) {
    #picture {
        height: 60vh;
    }

    .scroll__box {
        width: 120px;
    }
}