#stack {
    padding-bottom: 195px;
}

.stack__title {
    position: sticky;
    left: 0;
    top: 80px;
    z-index: 17;
}

.stack__cont {
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
}

.stack__item {
    width: 37.5%;
    margin-bottom: 60px;
}

.stack__item:nth-child(3n) {
    width: 25%;
}

.stack__item.num8 .stack__icon .mongoImg {
    width: 25px;
}

.stack__icon {
    width: 80px;
    height: 80px;
    background-color: var(--dark-grey);
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.stack__icon .noise {
    position: absolute;
    width: 80px;
    height: 80px;
    opacity: 0.2;
    z-index: 1;
}

.stack__icon>img {
    filter: grayscale();
    transition: filter 0.8s cubic-bezier(0.4, 0, 1, 1);
    position: relative;
    z-index: 2;
}

.stack__icon img:hover {
    filter: none;
}

.stack__desc {
    margin-top: 24px;
}

.stack__desc .title {
    color: var(--gainsboro);
    font-family: var(--mainfont-gmarket);
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 14px;
}

.stack__desc .desc {
    font-size: 14px;
    font-family: var(--mainfont-tg);
    color: var(--mid-grey);
}

@media(max-width:480px) {
    .stack__icon {
        width: 60px;
        height: 60px;
        padding: 5px;
    }

    .stack__icon .noise {
        width: 60px;
        height: 60px;
    }
}