body {
    background-color: var(--primary-color);
    padding-top: 100px;
}

/* 메뉴 진행바 */
.parallax__progress progress {
    position: fixed;
    top: 80px;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 1px;
    border: none;
    background: transparent;
}

.parallax__progress progress::-webkit-progress-value {
    background-attachment: fixed;
    background-color: var(--gainsboro);
}

/* 텍스트 공통요소~ */

.text__box {
    color: var(--gainsboro);
}

.gradient {
    background-color: rgba(39, 39, 39, 0);
}

/* 라인표시 */
.bg__line {
    z-index: -1;
    position: fixed;
    left: 0%;
    top: 0%;
    bottom: 0%;
    right: 0%;
}

.container {
    height: 100vh;
    padding-left: 140px;
    padding-right: 140px;
}

.containerH {
    padding-left: 140px;
    padding-right: 140px;
}

.ver__wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
}


.vertical__line {
    width: 1px;
    height: 100%;
    background-color: var(--dark-grey);
    padding-right: 0;
}


/* sectionTitle */
.secT {
    position: relative;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(25px);
    padding-top: 12px;
    border-top: 1px solid var(--dark-grey);
}

.secT>img {
    width: 24px;
    height: 30px;
    position: absolute;
    left: 0;
    top: 32%;
}

.secT h2 {
    font-family: var(--mainfont-gmarket);
    color: var(--gainsboro);
    font-size: 36px;
    margin-left: 30px;
    line-height: 1.7;
}


.title__line {
    position: absolute;
    left: 0;
    top: 72px;
    width: 0;
    height: 1px;
    background-color: var(--gainsboro);
}

.gsap-marker {
    z-index: 9999;
}


/* 반응형 */
@media(max-width:1280px) {

    .container,
    .containerH {
        padding-left: 85px;
        padding-right: 85px;
    }

}

@media(max-width:780px) {

    .container,
    .containerH {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media(max-width:490px) {
    .secT h2 {
        font-size: 28px;
        margin-left: 24px;
    }

    .secT>img {
        width: 20px;
        height: 26px;
        top: 24%;
    }
}